@mixin display {
  &.display {
    &_inline {
      display: inline;
    }
    &_block {
      display: block;
    }
    &_inline-block {
      display: inline-block;
    }
    &_flex {
      display: flex;
    }
    &_inline-flex {
      display: inline-flex;
    }
    &_grid {
      display: grid;
    }
    &_inline-grid {
      display: inline-grid;
    }
    &_table {
      display: table;
    }
    &_none {
      display: none;
    }
  }
}

@mixin position {
  &.position {
    &_static {
      position: static;
    }
    &_relative {
      position: relative;
    }
    &_absolute {
      position: absolute;
    }
    &_fixed {
      position: fixed;
    }
    &_sticky {
      position: sticky;
    }
  }
}

@mixin flex-grow {
  @for $i from 0 through 10 {
    .flex-grow_#{$i} {
      flex-grow: $i;
    }
  }
}

@mixin flex-shrink {
  @for $i from 0 through 10 {
    .flex-shrink_#{$i} {
      flex-shrink: $i;
    }
  }
}
